#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.header-logo {
  width: 45px;
  height: 45px;
}

.header-text {
  font-size: 2rem;
  font-weight: bold;
}
